[submodule "ext/tmc-sandbox"]
	path = ext/tmc-sandbox
	url = https://github.com/PSMGoossens/tmc-sandbox.git
[submodule "ext/tmc-comet"]
	path = ext/tmc-comet
	url = https://github.com/PSMGoossens/tmc-comet.git
[submodule "ext/tmc-spyware-server"]
	path = ext/tmc-spyware-server
	url = https://github.com/PSMGoossens/tmc-spyware-server.git
[submodule "ext/tmc-checkstyle-runner"]
	path = ext/tmc-checkstyle-runner
	url = https://github.com/PSMGoossens/tmc-checkstyle-runner.git
[submodule "ext/tmc-langs"]
	path = ext/tmc-langs
	url = https://github.com/PSMGoossens/tmc-langs.git
